<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game successfully made</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            color: #333;
        }

        a {
            text-decoration: none;
            color: #007BFF;
            font-weight: bold;
        }

        a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>NEW GAME WITH ID {{participation_code}} added</h1>

    Use this game code to <a href='./join_game'>join</a>: {{participation_code}}

    <br><br> Go back <a href="./">home</a>
</body>
</html>
